/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
p {
    font-size: 15px;
}
#main-visual > img {
    width: 100%;
    height: auto;
}
@media screen and (min-width: 768px) {
    body {
        max-width: 1080px;
        min-width: 960px;
        margin: 0 auto;
    }
    /* ヘッダー */
    header {
        display: flex;
        justify-content: space-between;
        }
    /* ナビゲーションレイアウト */
    #nav-pc {
        font-size: 14px;
        margin-left: auto;
    }
    #nav-pc li {
        display: none;
        padding: 0;
    }
    #nav-pc ul {
        display: flex;
        list-style: none;
        padding-left: 0;
    }
    #nav-pc a:link, 
    #nav-pc a:visited,
    #nav-pc a:active {
        color: #0d0d0d;
        text-decoration: none;
    }
    #menu-sp {
        display: none;
    }
    /* ナビゲーションのリンク装飾設定 */
    #nav-pc > a {
        text-decoration: none;
        margin-left: 20px;
    }
    #nav-pc > a:active {
        color: #d0d0d0;
    }
    /* メインビジュアル */
    #main-visual {
        position: relative;
    }
    #main-message {
        position: absolute;
    }
    #main-visual > img {
        width: 100%;
        margin-top: 130px;
    }
    }
@media screen and (max-width: 767px) {
    body {
        min-width: 375px;
        margin: 0;
    }
    #nav-pc {
        display: none;
    }
    #menu-sp {
        float: right;
        padding: 0;
    }
    #nav-sp {
        background-color: #ce933e;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: none;
        z-index: 100;
    }
    #nav-sp ul {
        padding-left: 0;
    }
    #nav-sp li {
        list-style: none;
    }
    /* ボタン */
    #close {
        position: absolute;
        right: 20px;
        top: 20px;
        border: none;
        background-color: transparent;
    }
    #logo-sp {
        margin: 80px 0 30px 20px;
    }
    #nav-sp a.menu {
        text-decoration: none;
        display: block;
        padding-right: 20px;
        margin: 0 20px 0 20px;
        height: 44px;
        font-size: 16px;
        background-image: url("arrow.png");
        background-repeat: no-repeat;
        background-position: right top;

    }
    #nav-sp a:link,
    #nav-sp a:visited,
    #nav-sp a:active {
        color: #ffffff;
    }
    #nav-sp a:hover {
        text-decoration: underline;
    }
}